:root {
  /* Fondos y Superficies */
  --bg-navy-deep: #0B0F19;
  --bg-surface: #141B2D;
  --bg-document: #FAF8F5;

  /* Identidad y Marca */
  --brand-purple: #8B5CF6;
  --brand-indigo: #3B82F6;

  /* Detalles y Elementos Interactivos */
  --accent-aqua: #38BDF8;

  /* Tipografía y Textos */
  --text-primary: #F1F5F9;
  --text-secondary: #94A3B8;

  /* Gradiente Sugerido */
  --gradient-main: linear-gradient(135deg, var(--brand-purple), var(--brand-indigo));
}

.bg-navy-nubix{
    background-color: var(--bg-navy-deep) !important; 
    margin-top: 15px;
    opacity: 0.9;
}

body{
    background-color: var(--bg-document);
    color: var(--text-primary);
}